@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.app {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  align-items: center;

  .wrapper {
      width: 500px;
      margin-top: 3em;   
  }

  .content__list {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;


    li {
      display: block;
      list-style: none;
      height: auto;

      &.is-visible {

      }
    }

    span {

    }

    * {
      transition: all .5s ease-in-out;
      height: auto;

      background-color: #fff;
      opacity: 1;
      width: 100%;

      &:not(span) {
        // padding: 0.5em 1em;

        &.is-visible {
          padding: 0.5em 1em;
        }
      }

      &:nth-child(odd) {
        background-color: rgb(255, 246, 227);
      }

      &.is-visible {
        overflow: hidden;
        transform: translateY(0) scale(1, 1);
        position: relative;
      }
      
      &.is-hide {
        transform: translateY(-36px) scale(1, 0);
        opacity: 0;
        width: 0;
        height: 0;
        padding: 0;
      }
    }
  }
}

.title {
  text-align: center;
  color: rgb(253, 143, 0);
}

.search-form {
  min-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 100%;
    min-height: 40px;
    padding: 0 1em;
  }
}

.sup-title {
  color: rgb(138, 138, 138);
  margin-top: 0;
  text-align: center;
}

